@media screen and (max-width: 434px) {
  .container .logo {
    font-size: 30px;
  }
  .container nav a {
    font-size: 14px;
  }
  .filme-principal .titulo {
    font-size: 30px;
  }
  .filme-principal .descricao {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 730px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 5px;
    width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}
